/* font-family: 'Lobster', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(213, 225, 239);
    font-family: 'Roboto', sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em auto;
}

.card {
    height: 30rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, .15);
}

img {
    margin: 1.5em auto;
    width: 85%;
    height: 60%;
    border-radius: 10px;
}

.heading-one {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 auto;
    max-width: 12em;
}

.heading-two {
    font-weight: lighter;
    color: rgb(150, 150, 150);
    font-size: .8rem;
    margin: 1em 3em;
}